<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>GetFyt</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google fonts -->

		<!-- Css link -->
		<link rel="shortcut icon" href="images/Getfyticon.png">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="stylesheets/css/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/css/owl.carousel.css">
		<link rel="stylesheet" href="stylesheets/css/owl.transitions.css">
		<link rel="stylesheet" href="stylesheets/css/animate.min.1.css">
		<link rel="stylesheet" href="stylesheets/css/lightbox.css">
		<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/css/preloader.css">
		<link rel="stylesheet" href="stylesheets/css/image.css">
		<link rel="stylesheet" href="stylesheets/css/icon.css">
		<link rel="stylesheet" href="stylesheets/css/style2.css">
		<link rel="stylesheet" href="stylesheets/css/responsive.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body id="top">


        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand" style="margin-bottom:-20px;margin-top:-10px;">
						<a href="#body"><img src="images/Getfyt.png" height="70" width="164" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#banner">Home</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/howitworks">How It Works</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="/userlogin">Login</a></li>
                        <li><a href="/exploregyms">Explore GYM</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>


	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1 style="font-weight:600">GET FIT WITH <br> <span style="font-weight:600;"><img src="images/Getfyt.png" height="100" width="260" alt="" style="margin:-20px;"></span> </h1>
							<p style="font-size:18px;margin-bottom:-28px;">Download Our App in</p>
							<div class="buttons">
								<a href="" target="_blank" class="btn btn-learn"><i style="font-size:22px;" class="fa fa-apple" aria-hidden="true"></i>&nbsp; App Store </a>
								<a href="" target="_blank" class="btn btn-learn"><i style="font-size:22px;" class="fa fa-play" aria-hidden="true"></i>&nbsp; Play Store </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
        <a id="scroll" href="#about" class="scroll"></a>
  		</div>
		</section>

		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>WELCOME TO <br> GETFYT</h2>
							<p>GetFyt is a fitness enabler which allows the user to try out any gym near them for as low as Rs. 100 or make visiting <br> the gym a habit by signing up for the monthly pass and get 15 sessions in a month.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="container" style="margin-top:-30px;">
						<div class="col-md-2"></div>
						<div class="col-md-3" style="margin-top:-22px;">
							<img style="width:80%;height:auto;" src="images/Getfyticon.png" alt="">
						</div>
						<div class="col-md-5" style="margin-top:50px;">
							<ul>
								<li style="font-size:16px;"><i class="fa fa-check" aria-hidden="true" style="color:#d63138"></i> No long term commitment</li>
								<li style="font-size:16px;"><i class="fa fa-check" aria-hidden="true" style="color:#d63138"></i> Search for the best gym nearby before working out</li>
								<li style="font-size:16px;"><i class="fa fa-check" aria-hidden="true" style="color:#d63138"></i> No more paying high fees upfront</li>
							</ul>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 col-sm-6" style="padding-top:30px;">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img style="height:auto;width:40%" src="images/1.png" alt="">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s" style="margin-top:-20px;font-weight:600;">Low Cost</h4>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-6" style="padding-top:30px;">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img style="height:auto;width:32%" src="images/2.png" alt="">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s" style="margin-top:-10px;font-weight:600;">Flexibility</h4>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-6" style="padding-top:30px;">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img style="height:auto;width:30%" src="images/3.png" alt="">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s" style="margin-top:-10px;font-weight:600;">On Demand</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="plans">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Our Plans</h2>
					</div>
					<div class="col-md-6 col" style="padding-bottom:10px;">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li><p style="font-size:35px;font-weight:600;">DAILY PASS <i class="fa fa-inr" aria-hidden="true"></i> 100</p></li>
								<li style="font-size:35px;margin-top:-30px;font-weight:600;"></li>
								<li style="margin-top:-10px;margin-bottom:-20px;">
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
								<li> <p style="margin-bottom:-20px;font-weight:600"><i class="fa fa-star" aria-hidden="true"></i> Exclusive of taxes.</p> </li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col" style="padding-bottom:10px;" >
						<div class="block text-center wow zoomIn" data-wow-delay=".3s">
							<ul>
								<li><p style="font-size:35px;font-weight:600;">DAILY PASS <i class="fa fa-inr" aria-hidden="true"></i> 500</p></li>
								<li style="font-size:35px;margin-top:-30px;font-weight:600;"></li>
								<li style="margin-top:-10px;margin-bottom:-20px;">
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
								<li> <p style="margin-bottom:-20px;font-weight:600"><i class="fa fa-star" aria-hidden="true"></i> Exclusive of taxes.</p> </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="ourpartner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>OUR PARTNER <br> NETWORK</h2>
						</div>
						<div id="blog-post" class="owl-carousel">
							<div>
								<div class="block">
									<img src="images/partners/1.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/2.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/3.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/4.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/5.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/6.jpg" alt="" class="img-responsive">
								</div>
							</div>
							<div>
								<div class="block">
									<img src="images/partners/7.jpg" alt="" class="img-responsive">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="plans">
			<div class="container" style="margin-top:-38px;margin-bottom:-32px;">
				<div class="row">
					<div class="title" style="margin-bottom:-22px;">
						<h2 style="color:#fff">SIGNUP FOR </h2><br>
						<p style="margin-top:-20px;color:#fff">For Latest Updates</p>
					</div>
					<div class="container">
						<div class="col-md-2"></div>
						<div class="col-md-3" style="padding-bottom:10px;">
	            <input type="text" class="form-control" placeholder="Your Name">
						</div>
						<div class="col-md-3" style="padding-bottom:10px;">
	            <input type="text" class="form-control" placeholder="Your Email ID">
						</div>
						<div class="col-md-3" style="padding-bottom:10px;">
	            <input type="submit" style="background-color:#d63138;color:#fff;" class="form-control" name="" value="SIGNUP NOW">
						</div>
						<div class="col-md-1"></div>
					</div>
			</div>
		</section>
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>CONTACT US</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-6 col" style="padding-bottom:25px;">
						<!-- map -->
						<div class="map">
              <div id="googleMap"></div>
            </div><!--/map-->

					</div>
					<div class="col-md-6" style="padding-bottom:10px;">
						<form>
              <input type="text" class="form-control" placeholder="Name">
              <input type="text" class="form-control" placeholder="Email">
              <textarea class="form-control" rows="3" placeholder="Message"></textarea>
              <button class="btn btn-default" type="submit">SEND</button>
            </form>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container" style="margin-bottom:-60px;">
				<div class="row" style="padding-bottom:20px;">
					<div class="col-md-6">
						<div class="block">
							<a href="#">
								<span> <img style="margin-bottom:-20px;" src="images/Getfyticon.png" height="80" width="80" alt=""> </span>
							</a>
							<p style="font-size:15px;">A unit of Getfyt Technologies Private Limited.</p>
							<ul style="padding-top:15px;">
								<li style="font-size:28px;">
									<a href="#" style="color:#d63138"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-twitter-square" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="block">
							<div class="container" style="padding-top:35px;">
								<ul style="text-align:left;line-height:30px;">
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-paper-plane-o" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
									  <span style="color:#fff;"> No.15, Parthasarathy Gardens, Alwarpet, Chennai-600 018. </span>
									 </li>
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
										<span style="color:#fff;"> +91 98849 36017 </span>
									</li>
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
										<span style="color:#fff;"> info@getfyt.co.in </span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><hr style="margin-bottom:-5px;">
				<div class="row" style="margin:-10px;">
					<div class="col-md-5">
						<p style="line-height:20px;color:#666">2017 All Rights Reserved © <span style="font-weight:500;color:#fff">Getfyt Technologies Private Limited.</span> </p>
					</div>
					<div class="col-md-7">
					<nav class="navbar-right" role="navigation" style="padding-top:8px;">
							<ul id="nav" class="nav navbar-nav ">
								<li><a style="font-size:13px;color:#666;" href="/aboutus">ABOUT</a></li>
								<li><a style="font-size:13px;color:#666;" href="/termsandconditions">TERMS & CONDITIONS</a></li>
								<li><a style="font-size:13px;color:#666;" href="/privacypolicy">PRIVACY POLICY</a></li>
								<li><a style="font-size:13px;color:#666;" href="/contact">CONTACT</a></li>
							</ul>
					</nav>
					</div>
				</div>

			</div>
		</footer>
	</div>

<script>
function initMap() {
  var uluru = { lat: 13.044454, lng: 80.25788 };
  var map = new google.maps.Map(document.getElementById("googleMap"), {
    zoom: 16,
    center: uluru
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
}

// http://getfytserver-env.gundmvzb2r.ap-south-1.elasticbeanstalk.com
window.onload = function() {
  axios
    .get(
      "http://localhost:5000/api/user/points?token=" +
        localStorage.getItem("token")
    )
    .then(function(res) {
      console.log(res);
    })
    .catch(function(err) {
      console.log(err);
    });
};
</script>

		<!-- load Js -->
		<script src="stylesheets/js/jquery-1.11.3.min.js"></script>
		<script src="stylesheets/js/bootstrap.min.js"></script>
		<script src="stylesheets/js/waypoints.min.js"></script>
		<script src="stylesheets/js/lightbox.js"></script>
		<script src="stylesheets/js/jquery.counterup.min.js"></script>
		<script src="stylesheets/js/owl.carousel.min.js"></script>
		<script src="stylesheets/js/html5lightbox.js"></script>
		<script src="stylesheets/js/jquery.mixitup.js"></script>
		<script src="stylesheets/js/wow.min.js"></script>
		<script src="stylesheets/js/jquery.scrollUp.js"></script>
		<script src="stylesheets/js/jquery.sticky.js"></script>
		<script src="stylesheets/js/jquery.nav.js"></script>
		<script src="stylesheets/js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs19aJivR891gJeQOrzT6_wHuffhqiu9w&callback=initMap"></script>
	</body>
</html>
