<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>GetFyt</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google fonts -->

		<!-- Css link -->
		<link rel="shortcut icon" href="images/Getfyticon.png">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="stylesheets/css/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/css/owl.carousel.css">
		<link rel="stylesheet" href="stylesheets/css/owl.transitions.css">
		<link rel="stylesheet" href="stylesheets/css/animate.min.1.css">
		<link rel="stylesheet" href="stylesheets/css/lightbox.css">
		<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/css/preloader.css">
		<link rel="stylesheet" href="stylesheets/css/image.css">
		<link rel="stylesheet" href="stylesheets/css/icon.css">
    <link rel="stylesheet" href="stylesheets/css/style2.css">
		<link rel="stylesheet" href="stylesheets/css/style.css">
		<link rel="stylesheet" href="stylesheets/css/responsive.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	</head>
	<body id="top">


        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand" style="margin-bottom:-20px;margin-top:-10px;">
						<a href="#body"><img src="images/Getfyt.png" height="70" width="164" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/howitworks">How It Works</a></li>
                        <li><a href="/#contact">Contact</a></li>
                        <li><a href="/userlogin">Login</a></li>
                        <li><a href="/exploregyms">Explore GYM</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>

    <section id="about" >
      <div class="container" style="padding-top:40px;padding-bottom:40px;">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>How It Works</h2>
            </div>
          </div>
        </div>
        <div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-download client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">DOWNLOAD</h3>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-pencil client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">REGISTER</h3>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-hand-o-up client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">CHOOSE A PLAN</h3>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-search client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">SEARCH FOR THE NEAREST GYM</h3>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-bookmark-o client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">BOOK A SESSION</h3>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="a top-features content-element grayscale-top wow pulse  animated" >
								<i class="fa fa-universal-access client-icon hvr-pulse-shrink" aria-hidden="true"></i>
								<h3 style="font-size:15px;font-weight:600;">GETFYT</h3>
							</div>
						</div>
					</div>
        </div>
      </div>
    </section>

		<footer>
			<div class="container" style="margin-bottom:-60px;">
				<div class="row" style="padding-bottom:20px;">
					<div class="col-md-6">
						<div class="block">
							<a href="#">
								<span> <img style="margin-bottom:-20px;" src="images/Getfyticon.png" height="80" width="80" alt=""> </span>
							</a>
							<p style="font-size:15px;">A unit of Getfyt Technologies Private Limited.</p>
							<ul style="padding-top:15px;">
								<li style="font-size:28px;">
									<a href="#" style="color:#d63138"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-twitter-square" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
									<a href="#" style="color:#d63138"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="block">
							<div class="container" style="padding-top:35px;">
								<ul style="text-align:left;line-height:30px;">
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-paper-plane-o" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
									  <span style="color:#fff;"> No.15, Parthasarathy Gardens, Alwarpet, Chennai-600 018. </span>
									 </li>
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
										<span style="color:#fff;"> +91 98849 36017 </span>
									</li>
									<li>
										<i style="color:#d63138;font-size:20px;" class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
										<span style="color:#fff;"> info@getfyt.co.in </span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><hr style="margin-bottom:-5px;">
				<div class="row" style="margin:-10px;">
					<div class="col-md-5">
						<p style="line-height:20px;color:#666">2017 All Rights Reserved © <span style="font-weight:500;color:#fff">Getfyt Technologies Private Limited.</span> </p>
					</div>
					<div class="col-md-7">
					<nav class="navbar-right" role="navigation" style="padding-top:8px;">
							<ul id="nav" class="nav navbar-nav ">
								<li><a style="font-size:13px;color:#666;" href="/aboutus">ABOUT</a></li>
								<li><a style="font-size:13px;color:#666;" href="/termsandconditions">TERMS & CONDITIONS</a></li>
								<li><a style="font-size:13px;color:#666;" href="/privacypolicy">PRIVACY POLICY</a></li>
								<li><a style="font-size:13px;color:#666;" href="/contact">CONTACT</a></li>
							</ul>
					</nav>
					</div>
				</div>

			</div>
		</footer>
	</div>

		<!-- load Js -->
		<script src="stylesheets/js/jquery-1.11.3.min.js"></script>
		<script src="stylesheets/js/bootstrap.min.js"></script>
		<script src="stylesheets/js/waypoints.min.js"></script>
		<script src="stylesheets/js/lightbox.js"></script>
		<script src="stylesheets/js/jquery.counterup.min.js"></script>
		<script src="stylesheets/js/owl.carousel.min.js"></script>
		<script src="stylesheets/js/html5lightbox.js"></script>
		<script src="stylesheets/js/jquery.mixitup.js"></script>
		<script src="stylesheets/js/wow.min.js"></script>
		<script src="stylesheets/js/jquery.scrollUp.js"></script>
		<script src="stylesheets/js/jquery.sticky.js"></script>
		<script src="stylesheets/js/jquery.nav.js"></script>
		<script src="stylesheets/js/main.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs19aJivR891gJeQOrzT6_wHuffhqiu9w&callback=initMap"></script>
	</body>
</html>
