<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../stylesheets/css/login-form.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main">
		<h1 style="">Vendor Login Form</h1>
		<div class="main-w3lsrow">
			<!-- login form -->
			<div class="login-form login-form-left">
				<div class="agile-row">
					<div id="alert" style="display:none" class="alert alert-danger">

					</div>
					<h2 style="">Login Here</h2>
					<div class="login-agileits-top">
						<form action="/signup" method="post">
							<p style="font-weight:800;color:#fe7902;font-size:16px;">Email(Username)</p>
							<input id="email" type="text" class="name" name="email" required=""/>
							<p style="font-weight:800;color:#fe7902;font-size:16px;">Name</p>
							<input id="name" type="text" class="password" name="name" required=""/>
							<p style="font-weight:800;color:#fe7902;font-size:16px;">Phone</p>
							<input id="phone" type="number" class="password" name="phone" required=""/>
							<p style="font-weight:800;color:#fe7902;font-size:16px;">Password</p>
							<input id="password" type="password" class="password" name="password" required=""/>
							<p style="font-weight:800;color:#fe7902;font-size:16px;">Confirm Password</p>
							<input id="confirm-password" type="password" class="password" name="password" required=""/>
							<label class="anim">
								<input type="checkbox" onclick="showpassword()"
								class="checkbox">
								<span>Show Password</span>
							</label>
							<input type="button" onclick="signup()" value="SignUp">
						</form>
					</div>
					<div class="login-agileits-bottom">
						<h6><a href="#">Forgot password?</a></h6>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //main -->
<script type="text/javascript">
function showpassword() {
  if (document.getElementById("password").type == "password") {
    document.getElementById("password").setAttribute("type", "text");
    document.getElementById("confirm-password").setAttribute("type", "text");
    document.getElementById("confirm-password").setAttribute("type", "text");
  } else {
    document.getElementById("password").setAttribute("type", "password");
    document
      .getElementById("confirm-password")
      .setAttribute("type", "password");
  }
}

function validateEmail() {
  var x = $("#email").val();
  var atpos = x.indexOf("@");
  var dotpos = x.lastIndexOf(".");
  if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
    return false;
  } else {
    return true;
  }
}

function signup() {
  var email = $("#email").val();
  var name = $("#name").val();
  var phone = $("#phone").val();
  var cpassword = $("#confirm-password").val();
  var password = $("#password").val();
  if (
    email == "" ||
    name == "" ||
    phone == "" ||
    password == "" ||
    cpassword == ""
  ) {
    document.getElementById("alert").style.display = "block";
    document.getElementById("alert").innerHTML = "Checkout All fields";
  } else if (validateEmail() == false) {
    document.getElementById("alert").style.display = "block";
    document.getElementById("alert").innerHTML = "Enter a Valid Email Address";
  } else {
    if (password != cpassword) {
      document.getElementById("alert").style.display = "block";
      document.getElementById("alert").innerHTML = "Password Does Not Match";
    } else {
      document.getElementById("alert").style.display = "none";
      document.getElementById("alert").innerHTML = "";
      handleSignup();
    }
  }
}
//   $.post("/signin", { email: email, password: password }, function(
//     data,
//     status
//   ) {
//     window.sessionStorage.setItem("token", data.token);
//     console.log("Data: ", data);
//     window.location.replace("/loggedin" + data.token);
//   });

function handleSignup() {
  var email = $("#email").val();
  var name = $("#name").val();
  var phone = $("#phone").val();
  var cpassword = $("#confirm-password").val();
  var password = $("#password").val();
  axios
    .post("/signup", {
      email: email,
      password: password,
      name: name,
      phone: phone
    })
    .then(function(data) {
      if (data.status == 200) {
        console.log("Data: ", data);
        window.location.replace("/vendor");
      } else {
        document.getElementById("alert").style.display = "block";
        document.getElementById("alert").innerHTML = "email is in use";
      }
    })
    .catch(function(err) {
      console.log("a");
      document.getElementById("alert").style.display = "block";
      document.getElementById("alert").innerHTML =
        "Error Signing Up please Try again later";
    });
}
</script>
</body>
</html>
