#signout:hover {
  cursor: pointer;
}

.top-features {
  text-align: center;
  color: #444;
  font-size: 14px;
  /* opacity: .2; */
}

.content-element {
  margin-bottom: 30px;
  font-size: 18px;
  color: #7e8890;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 1.6em; */
  color: #7e8890;
  margin: 0 0 1em 0;
  font-family: "Open Sans", "open-sans", sans-serif;
  padding-top: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 298px;
}
.top-features i.fa-download {
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-download:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}

.top-features i.fa-hand-o-up {
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-hand-o-up:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}

.top-features i.fa-pencil {
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-pencil:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}

.top-features i.fa-search{
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-search:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}
.top-features i.fa-bookmark-o{
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-bookmark-o:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}
.top-features i.fa-universal-access{
  border: 3px solid rgb(199, 199, 199);
  border-radius: 100%;
  color: #ee2125;
  display: inline-block;
  font-size: 36px;
  height: 94px;
  line-height: 90px;
  margin-bottom: 28px;
  text-align: center;
  transition: all 500ms ease-in-out 0s;
  width: 94px;
}
.top-features i.fa-universal-access:hover {
  border: 3px solid #ee2125;
  background: #ee2125;
  color: #fff;
  cursor: pointer;
}
.client-icon {
  max-width: 130px;
  display: block;
  margin: 0 auto;
}
.top-features h3 {
  text-align: center;
  color: #333c4e;
  font-size: 18px;
  font-weight: normal;
  line-height:1.5;
  padding-bottom: 21px;
  text-transform: uppercase;
}
.content-element {
    margin-bottom: 30px;
    font-size: 18px;
    color: #7e8890;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6em;
    color: #7e8890;
    margin: 0 0 0em 0;
    font-family: "Open Sans", "open-sans", sans-serif;
    padding-top: 24px;
    border: 0px solid #ccc;
    border-radius: 4px;
    min-height: 236px;
}
.grayscale-top{
   filter:  grayscale(100%);
  -webkit-filter:  grayscale(100%);
  -moz-filter:  grayscale(20%);
    opacity: .8;
}
.grayscale-top:hover {
     filter:  grayscale(0%);
    -webkit-filter:  grayscale(0%);
    -moz-filter:  grayscale(0%);
    opacity: 1;

}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.client-icon {
    max-width: 130px;
    display: block;
    margin: 0 auto;
}
.client-icon{
    max-width: 130px;
    display: block;
    margin: 0 auto;
}
.client-icon:hover {
  -webkit-animation: animClient 1.2s both;
  animation: animClient 1.2s both;
}
.a:hover{
  visibility: visible;
  animation-delay: .5s;
  animation-name: pulse;
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
